body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f4f4f4;
}

.header {
    width: 100%;
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
}

.buttons {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 12px 24px; /* Ingrandito il padding dei bottoni */
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px; /* Ingrandito il font dei bottoni */
}

button:hover {
    background-color: #0056b3;
}

button[onclick="promptLogout()"] {
    background-color: #dc3545; /* Rosso */
    color: white;
}

button[onclick="promptLogout()"]:hover {
    background-color: #c82333; /* Rosso scuro per hover */
}

.section {
    display: none;
}

.ranking-header {
    font-weight: bold;
    margin-top: 20px;
    font-size: 24px; /* Ingrandito il font della intestazione della classifica */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px; /* Ingrandito il padding degli elementi della lista */
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.player-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.player-name {
    flex-grow: 1;
    font-weight: bold;
    font-size: 35px; /* Ingrandito il font del nome del giocatore */
    margin-right: 10px;
}

.player-ranking {
    font-weight: bold;
    font-size: 35px; /* Ingrandito il font del punteggio della classifica */
    margin-right: 20px;
}

.player-controls {
    display: flex;
    align-items: center;
    gap: 10px; /* Aumentato lo spazio tra i controlli */
}

.player-controls button {
    font-size: 35px; /* Ingrandito il font dei tasti + e - */
    padding: 10px 15px; /* Aumentato il padding dei tasti */
}

.player-number {
    font-size: 35px; /* Ingrandito il font del punteggio parziale */
    margin: 0 10px;
}

#addPlayerSection {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
